# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local storage
storage/

# Environment variables
.env

# Database
*.sqlite3
*.db

# Alembic
alembic/versions/*.py

# Celery
celerybeat-schedule
celerybeat.pid

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# macOS
.DS_Store

# Docker
.docker/

# Jupyter Notebooks
.ipynb_checkpoints

openai_docs/